[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SightabilityModel"]
	path = SightabilityModel
	url = https://github.com/jfieberg/sightabilitymodel
	shallow = true
	registered = true
